code { border-style :none !important;}
code, kbd {
    font-size: 1em;
}
code, kbd {
    padding: 2px 4px;
}
code {
    background-color: white;
    border-radius: 4px;
    color:#8B3FB2;
}



    * {
    margin: 0;
    }
    html, body {
    height: 100%;
    }
    .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    }
    footer, .push {
    height: 7em;
    }

.description{
  color:gray;
  font-family: 'Roboto Condensed';
}
.aside{
  border-right:5px solid #FFE902 !important;
}
.side-nav li a.activeside {
  background:none repeat scroll 0 0 rgba(0,0,0,0.024);
  color:#1cc7ff;}

.border-panel{
  border-top:5px solid #FFE902 !important;
}
.active{
  background-color:#00BCF4 !important;
}
.panel{
  border:none;
}

.multiple-post p{
  font-size:0.89rem;
  line-height: 1.3;
}
.multiple-post ul, .multiple-post ol, .single-post ul, .single-post ol {
  font-size:0.9rem;
  line-height: 1.3;
}
.single-post p{
  font-size:0.92rem;
  line-height:1.3;
}

.single-post h1, .multiple-post h1 {
  font-size:1.7rem;
}
.single-post h2, .multiple-post h2 {
  font-size: 1.3rem
}
.single-post h3, .multiple-post h3 {
  font-size: 1.2rem
}

.panel.callout{
  border:none;
}
h3{font-size:1.4rem;}
.name a{

  font-size:20px;
  font-weight:bold;
}
.top-bar-section ul li a:hover{
  background-color:#00BCF4 !important;
  }


/*------------------------------------
 timeline style
------------------------------------*/
.path-container {
  margin-top: 50px;
  margin-bottom: 70px;
}

/*.path-container h1,h2,h3,p {color:white;}*/
.path-container .path-item h1 {
  text-align: center;
  margin-bottom: 70px;
}
.path-container .path-item h3 {
  margin-bottom: 10px;
  line-height: 1.15;
}
.path-container .path-item p {
  font-size: emCalc(16px);
  line-height: 1.7;
  margin-bottom: 25px;
}
.path-container .path-item a {
  font-weight: bold;
  font-size: emCalc(14px);
}
.path-container .path-item .circle {
  background-color: #ccc;
  background-size: 156px 156px;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  position: relative;
  margin-bottom: 180px;
  z-index: 2;
}
.path-container .path-item .circle.circle-left {
  left: -7px;
}
.path-container .path-item .circle.circle-right {
  right: -10px;
}
.path-container .line {
  background: #ddd;
  width: 2px;
  bottom: 0;
  position: absolute;
  top: 160px;
  left: 50%;
  z-index: 0;
  height: 1164px;
}

/*------------------------------------
 medium timeline styles
------------------------------------*/
@media only screen and (max-width: 800px) and (min-width: 768px) {
  .line {
    display: none !important;
  }

  .large-5.columns.path-text {
    width: 70%;
    right: 0;
    margin-left: 15px;
  }

  .path-item .large-7 {
    width: 25%;
  }

  .push-5 {
    left: 0;
    float: right;
  }

  .circle-right {
    float: left;
    right: 0px !important;
  }

  .circle-left {
    left: 0px !important;
  }
}
/*------------------------------------
 mobile timeline styles
------------------------------------*/
@media only screen and (max-width: 767px) {
  .path-container {
    text-align: center;
  }
  .path-container .circle {
    top: 0;
    right: 0;
    left: 0;
    float: none;
    margin-bottom: 30px !important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

textarea {min-height:200px;}

h1,h2,h3,h4 {color:#404040; font-family: 'Roboto Condensed';}
/*a {font-family:'Roboto';}
*/
.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #6699FF;
    font-family:'Roboto';
    font-size:14px;
}
.top-bar{
       border-bottom:5px solid #00BCF4;
       box-sizing:content-box;}

table tr th, table tr td {
    color: #222;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    text-align: left;
}

/*img { 
   border:2px solid white;
}*/

.orbit-caption h3, .orbit-caption h3 small {color:white;}
body {

/*  background: #404040 repeat url("../images/dg2.jpg");*/
font-family:'Roboto';
background-color:white;
/*background: linear-gradient(45deg, #020031 0%, #6d3353 100%) 0 0 transparent;*/
background-attachment:fixed;
/*background-image:url("../images/miro.png");*/
} 


/* FOOTER */
footer 
{
      border-top:5px solid #00BCF4;
  background: none repeat scroll 0 0 #CCCCCC;
  padding: 50px 0 10px;
  font-family: Roboto Condensed;

}

.contact{
  background-color:#00BCF4 !important;
  font-weight:bold !important;
  font-family: 'Roboto Condensed' !important;
  font-size:20px !important;
}

.page-title{
  text-align:center !important;
  font-family: Wire One !important;
  font-size:3rem;
}

.success{
  background-color: #39F1AE;
  color:white;
  font-family: 'Roboto Condensed';
  padding:10px;
  text-align: center;
}

.ribbon {
   width: 200px;
   position: relative;
   float:right;
   text-align: center;
   font-size: 15px!important;
   background: #00bbf4;
   background: -webkit-gradient(linear, left top, left bottom, from(#00bbf4), to(#6699ff));
   background: -webkit-linear-gradient(top, #00bbf4, #6699ff);
   background: -moz-linear-gradient(top, #00bbf4, #6699ff);
   background: -ms-linear-gradient(top, #00bbf4, #6699ff);
   background: -o-linear-gradient(top, #00bbf4, #6699ff);
   background-image: -ms-linear-gradient(top, #00bbf4 0%, #6699ff 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 15px!important;
   color: #ffffff;
   margin:0px;
   padding: 5px 5px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -0.5em;
   border: 0.9em solid #39F1AE;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   position:absolute;
   z-index: -1;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
/*   border-color: #474646 transparent transparent transparent;
*/   position: absolute;
   display: block;
/*   border-style: solid;
*/   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }

