<ul class="side-nav">
	<li><a href="index.php?p=get_category&id=1">Administration serveur</a></li>
	<li><a href="index.php?p=get_category&id=2">GIT</a></li>
	<li><a href="index.php?p=get_category&id=3">PHP/Symfony/Wordpress</a></li>
	<li><a href="index.php?p=get_category&id=4">Base de données</a></li>
	<li><a href="index.php?p=get_category&id=5">HTML/CSS</a></li>
	<li><a href="index.php?p=get_category&id=6">Javascript/jQuery/AJAX</a></li>
	<li><a href="index.php?p=get_category&id=7">iOS</a></li>	
	<li><a href="index.php?p=get_category&id=8">Web Design</a></li>
	<li><a href="index.php?p=get_category&id=9">Graphisme</a></li>
	<li><a href="index.php?p=get_category&id=10">Management</a></li>
	<li><a href="index.php?p=get_category&id=10">Marketing</a></li>
</ul>